@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
html,body{
    height: 100%;
    margin: 0;;
}

.background{
    background-color: rgb(181, 225, 238);

}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



.iconMain{
    height: 10vh;
}

.title{
    font-family: 'Lilita One', sans-serif;
}

.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro{

   text-decoration: none;
}

.mainIcon{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.containerMain{
    width: 100%;
    height: 50%;
    background-color: red;
    justify-content: cen;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.menuIcon{
    width: 60%;
    border: 1px solid black;
    border-radius: 20%;
}

.teste{
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-item{
    text-align: center;
    margin-bottom: 20px;
}

.bordaPreta{
 border: 1px solid black;
 border-radius: 45%;
}

.bordaPretaa{
    border: 1px solid black;
    border-radius: 35%;
    background-color: #ffd467;
}

.btn-custom {
    background-color: #2e5066;
    color: #ffffff;
  }
  
.btn-custom:hover {
  background-color: #2980b9; 
}

.custom-navbar {
    background-color:  rgb(181, 225, 238) !important;
}


.navbar-brand img {
    margin-right: 5px;
}

.label-input-group {
    margin-bottom: 15px;
}

.reduce-margin {
    margin-bottom: -45px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* ou a cor desejada para o rodapé */
    padding: 10px;
}